Language:        Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
AllowAllConstructorInitializersOnNextLine: false
AllowShortBlocksOnASingleLine: true
IncludeBlocks:   Preserve
IndentWidth:     4
NamespaceIndentation: All
SortIncludes:    false