.lock*
.direnv
.envrc
build
cut
*~
org-html-themes
*.egg-info
__pycache__
*.pyc
.ccls-cache
ltximg
moc/demo_config.hpp
moc/demo_config.json
moc/demo_config_nljs.hpp
*.cut
TAGS
demo_app.hpp
demo_app.json
demo_app_nljs.hpp
test_demo
latexmk-out
auto
cut*
junk*
dist
buildsys/cmake/sub.jsonnet
buildsys/cmake/sub/sub2.jsonnet
buildsys/cmake/test.cmake
buildsys/make/model-dump.txt
CMakeCache.txt
CMakeFiles
*.moved
notes.org
