#+title: {{capname|lower}} -- the {{fullname}} package

This is the Wire-Cell Toolkit User Package: {{fullname}}

* Install

#+begin_example
  $ ./wcb configure --prefix=/path/to/install \
        --with-wct=$HOME/opt/wct \
        [...maybe other --with-* flags...]
  $ ./wcb
  $ ./wcb install
#+end_example

More information can be seen in the [[https://github.com/WireCell/waf-tools/blob/master/README.org][waf-tools README]].

