{% import 'ocpp.hpp.j2' as cppm %}
/*
 * This file is 100% generated.  Any manual edits will likely be lost.
 *
 * This contains struct and other type definitions for shema in 
 * {{cppm.ns(model)}}.
 */
{% set tcname = "Structs" %}
#ifndef {{cppm.headerguard(model, tcname)}}
#define {{cppm.headerguard(model, tcname)}}

#include <cstdint>
{% for ep in model.extrefs %}
#include "{{ep}}/{{tcname}}.hpp"
{% endfor %}

{% for schema, typeref in model.byscn.items() %}
{% if typeref %}{% for imp in model.lang.imports.get(schema, []) %}
#include <{{imp}}>
{% endfor %}{% endif %}
{% endfor %}

{{ cppm.ns(model) }} {

    {% for t in model.types %}
    // @brief {{ t.doc }}
    {{ cppm["declare_"+t.schema](model, t)|indent }}

    {% endfor %}
} // {{ cppm.ns(model) }}

#endif // {{cppm.headerguard(model, tcname)}}
