/*
 * Known types:
 * {% for type in types %}
 * - {{ type }}{% endfor %}
 */

#ifndef {{namespace|upper}}_{{obj.name|upper}}
#define {{namespace|upper}}_{{obj.name|upper}}

namespace {{namespace}} {

struct {{obj.name}} {
    {% for attr in obj.attrs -%}
    {{attr.type}} {{attr.name}} = {{attr.def}};
    {% endfor -%}
};

void to_json(json& j, const person& p) {
    j = json{
        {%- for attr in obj.attrs -%}
        {"{{attr.name}}", p.{{attr.name}}}{{ "," if not loop.last }}
        {%- endfor -%}
    };
}

void from_json(const json& j, person& p) {
    {% for attr in obj.attrs -%}
    j.at("{{attr.name}}").get_to(p.{{attr.name}});
    {% endfor -%}
}
}
#endif
