{# This provides some helper macros for plantuml templates #}

{% macro pp(t) %}
{{ "::".join(t.path+[t.name]) }}
{%- endmacro %}

{% macro declare_sequence(model, t) %}
' sequence {{ pp(t) }}
class {{ pp(t) }} << (V,blue) >> {
        {{t["items"]|replace(".","::")}}[] items
}
{{t["items"]|replace(".","::")}} o-- {{ pp(t) }}
{%- endmacro -%}

{% macro declare_record(model, t) %}
' record {{ pp(t) }}
class {{ pp(t) }} {
        {% for f in t.fields %}
        {{f.item|listify|join("::")}} {{f.name}}
        {% endfor -%}
}
{% for f in t.fields %}
{{f.item|listify|join("::")}} o-- {{ pp(t) }}
{% endfor -%}
{%- endmacro -%}

{% macro declare_enum(model, t) %}
' enum {{ pp(t) }}
enum {{ pp(t) }}
{%- endmacro -%}

{% macro declare_boolean(model, t) %}
' boolean {{ pp(t) }}
class {{ pp(t) }} << (B,white) >> 
{%- endmacro -%}

{% macro declare_string(model, t) %}
' string {{ pp(t) }}
class {{ pp(t) }} << (S,orchid) >> 
{%- endmacro -%}

{% macro declare_number(model, t) %}
' number {{ pp(t) }}
class {{ pp(t) }} << (N,wheat) >> 
{%- endmacro -%}

{% macro declare_any(model, t) %}
' any {{ pp(t) }}
class {{ pp(t) }} << (A,red) >>
{%- endmacro -%}
