/* -*- c++ -*- */
{%- macro struct(obj) %}
struct {{ obj.name }} {
    {% for a in obj.attrs %}
    {% if a.type.name == "str" %}
    {{a.type.c}} {{a.name}} = "{{a.def}}";
    {% else %}
    {{a.type.c}} {{a.name}} = {{a.def}};
    {% endif %}
    {% endfor %}
    };
{%- endmacro %}

{%- macro event_method_decl(e,m, ns) %}
{{m.type.c}} {{m.name}}(const {{ns}}::{{e.name}}& event{% for a in m.attrs %}, {{a.type.c}} {{a.name}}{% endfor %});
{%- endmacro %}

{%- macro sml_lambda_guard(grds) %}
{%- if grds|length > 0 -%}[{%- for g in grds -%}
    {{ ' and ' if not loop.first }} [this](const auto& event){ return this->{{g.name}}(event); }
    {%- endfor -%}]{%- endif -%}
{%- endmacro %}
{%- macro sml_lambda_action(acts) %}
{%- if acts|length > 0 -%}({%- for a in acts -%}
    {{ ', ' if not loop.first }} [this](const auto& event){ this->{{a.name}}(event); }
    {%- endfor %} ){%- endif -%}
{%- endmacro %}

{%- macro sml_lambda_ega(t, ns) %}
{%- if t.event -%}
+ event<{{ns}}::{{t.event.name}}>
{%- endif -%}
{%- if t.guards or t.actions %}
{{ sml_lambda_guard(t.guards) }} / {{ sml_lambda_action(t.actions) }}
{%- endif -%}
{%- endmacro %}

{%- macro sml_lambda_tran(t, ns) %}
{{t.star if t.star}} state<{{t.ini.name}}> {{sml_lambda_ega(t, ns)}} = state<{{ t.fin.name }}>
{%- endmacro %}

{%- macro smltt_lambdas(tt, ns) %}
{% for t in tt -%}
{{ "," if not loop.first }}{{ sml_lambda_tran(t, ns) }}
{% endfor %}
{%- endmacro %}
