{%- macro message(obj) %}
struct {{ obj.name }} {
    {% for a in obj.attrs %}
    {% if a.type.name == "str" %}
    {{a.type.c}} {{a.name}} = "{{a.def}}";
    {% else %}
    {{a.type.c}} {{a.name}} = {{a.def}};
    {% endif %}
    {% endfor %}
};
{%- endmacro %}
#ifndef {{namespace|upper}}_MESSAGES_HPP_SEEN
#define {{namespace|upper}}_MESSAGES_HPP_SEEN

#include <string>
#include <sml.hpp>
#include <cassert>


namespace {{namespace}} {

    {% for msg in messages %}
    {{ message(msg)|indent }}
    {% endfor %}

}

#endif
