{% macro struct(obj) %}
struct {{ obj.name }} {
    {% for a in obj.attrs %}
    {% if a.type.name == "str" %}
        {{a.type.c}} {{a.name}} = "{{a.def}}";
    {% else %}
        {{a.type.c}} {{a.name}} = {{a.def}};
    {% endif %}
    {% endfor %}
    };
{% endmacro %}

{% macro smltt(tt) %}
{% for t in tt %}
{{ "," if not loop.first }}{{t.star if t.star}} state<{{t.ini}}> + event<{{t.eve}}> {% if t.grds %}[ {{ t.grds|join(" and ") }} ]{% endif %} / {% if t.acts|length == 1%}{{ t.acts[0] }}{% elif t.acts|length > 1%}({{t.acts|join(' and ')}}){%endif%} = state<{{ t.fin }}>
{% endfor %}
{% endmacro %}


{% macro sml_lambda_guard(grds) %}
{%- if grds|length > 0 -%}[{%- for g in grds -%}
    {{ ' and ' if not loop.first }} [this](const auto& event){ return this->{{g}}(event); }
    {%- endfor -%}]{%- endif -%}
{% endmacro %}

{% macro sml_lambda_action(acts) %}
{%- if acts|length > 0 -%}({%- for a in acts -%}
    {{ ', ' if not loop.first }} [this](const auto& event){ this->{{a}}(event); }
    {%- endfor %} ){%- endif -%}
{% endmacro %}


{% macro smltt_lambdas(tt) %}
{% for t in tt -%}
{{ "," if not loop.first }}{{t.star if t.star}} state<{{t.ini}}> + event<{{t.eve}}> {{ sml_lambda_guard(t.grds) }} / {{ sml_lambda_action(t.acts) }} = state<{{ t.fin }}>
{% endfor %}
{% endmacro %}
