/**
 * {{protoname}} protocol handler.
 */

#ifndef {{namespace|upper}}_{{proto|upper}}_HPP_SEEN
#define {{namespace|upper}}_{{proto|upper}}_HPP_SEEN

#include "moo/protobase.hpp"

namespace {{namespace}} {

    struct {{proto}} : public moo::protobase {
        
      protected:

        virtual void init(){};
        virtual void handle_command(zmq::socket_t& cmdsock);
        virtual void handle_message(zmq::socket_t& msgsock);
        

    };

}



#endif
