{% extends "header.hpp.j2" %}
{% import "macros.cpp.j2" as cpp %}

{% set namepath = model.namepath %}
{% set filename = "messages" %}

{% block body %}
{% for name in namepath %}
namespace {{ name }} {
{% endfor %}
{% for mtype in model.mtypes %}
{{ cpp.structdef(moo, mtype) }}

{% endfor %}
{% for name in namepath %}
}
{% endfor %}
{% endblock %}
