#ifndef {{ namepath | join('_') | upper }}_{{ filename | upper}}_HPP
#define {{ namepath | join('_') | upper }}_{{ filename | upper}}_HPP

{% block body %}
{% endblock %}

#endif //  {{ namepath | join('_') | upper }}_{{ filename | upper}}_HPP
