{%- macro defval(p) -%}
{% if p.mootype == "str" %}"{{ p.def }}"{% else %}{{ p.def }}{% endif %}
{%- endmacro -%}
// The message type {{ident}}
#ifndef {{model.ident|upper}}
#define {{model.ident|upper}}

struct {{model.ident}} {
    std::string ident = "{{model.ident}}";
    {% for n,p in model.body.items() %}
    {{ moo.lang.cpp[p.mootype][p.dtype] }} {{ n }} = {{ defval(p) }};
    {% endfor %}
};
#endif // {{ident|upper}}
