{% import 'cpp.hpp.j2' as cpp %}
/*
 * This file is 100% generated.  Any manual edits will likely be lost.
 */
{% set nsmarker = "_".join(model.path).upper() + "_STRUCTS_HPP" %}
{% set ns = "::".join(model.path) %}
#ifndef {{nsmarker}}
#define {{nsmarker}}

{% for ep in model.extpaths %}
#include "{{ep}}/Structs.hpp"
{% endfor %}

{% for schema, typeref in model.byscn.items() %}
{% if typeref %}{% for imp in model.lang.imports.get(schema, []) %}
#include <{{imp}}>
{% endfor %}{% endif %}
{% endfor %}

namespace {{ ns }} {

    {% for t in model.types %}
    {{ cpp["declare_"+t.schema](model, t)|indent }}
    {% endfor %}


} // namespace {{ ns }}

#endif // {{ nsmarker }}
